<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<h2>
					¡Bienvenidos a Desguace Solano!
				</h2>

                <p>
                    <img style="height: 100px; width: 100px"src="images/obras.png"/>
                </p>

				<p>
                    Ahora mismo nos encontramos en construcción, os esperamos próximamente.
		        </p>

                <p>
					<a class="btn btn-md btn-info" href="contact">Contacto</a>
				</p>
			</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>