  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
                <p style="text-align:center">
                    <img class="center" style="position:relative; height: 150px; width: 150px"src="images/obras.png"/>
                </p>
                <p style="text-align:center">
                    Ahora mismo nos encontramos en construcción, os esperamos próximamente.
                <p style="text-align:center">
					<a class="btn btn-md btn-info" href="contact">Contacto</a>
				</p>
			</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>